form {
    display: flex;
    flex-direction: column;
    width: 300px; 
    margin: 0 auto; 
  }
  
label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-bottom: 10px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border-color: #0066ff; 
  }

.boton {
	width:$azul;
	height: 50px;
	background-color:rgb(140, 180, 255);
	text-align:center;
    text-decoration: underline;
	color:black;
	border-radius: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: auto;
        .boton:hover{
            color: $color-rojo;
            size: 10px;

        }
}

.negrita {
    font-weight: bold;
  }

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

@mixin fondo-destacado ($color-fondo){
    background-color: $color-fondo;
    color: $azul;
    font-family: monospace;
    text-align: center;
    padding: 20px;
}

@mixin boton {
    width: 200px;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
  }