// Paleta de Colores
$magenta-SC:#C01A7D;
$blanco: #fdfffc;
$turquesa: #41EAD4;
$rojo: #ff0022;
$azul: #011627;
$negro: black;
$color-rojo: #ff0000;
$color-gris: #333;
// img// 
$url-imagen-fondo-header: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148810353.jpg);

//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
$fuente-titulo: "Anta", sans-serif;