// Paleta de Colores
$magenta-SC:hsl(324, 76%, 43%);
$blanco: #E6EDFD;
$turquesa: #41EAD4;
$rojo: #DA4167;
$azul: #083D77;
$negro: #2E4057;
$color-rojo: #ff0000;
$color-gris: #333;
// img// 
$url-imagen-fondo-header: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148810353.jpg);
$url-imagen-fondo-prod: url(.../resources/fondo);

//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

$fuente-titulo: "Anta", sans-serif;